<!DOCTYPE html>
<html>

<head>
  <title>Lisper</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/main.css">

</head>

<body>
  <h1>What's your secret?</h1>
  <div class="card">
    <p>
      <%= secret %>
    </p>
  </div>
  
  <p class="user">
   User:  <%= user %>
  </p>
  
  <button id ="getSecret" onclick ="window.location.href ='/random-secret'">Click to see secret </button>

  <p style="color: white; font-family:Titan One, cursive;">Hover over the card to see secret!</p>
</body>

</html>